html{
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}


*, *::before, *::after{
  box-sizing: inherit;
}


body {
  margin: 0;
}


header {
  background-color: #e7001d;
  padding: 1rem 0;
  color: white;
  position: relative;
  text-align: center;
}


header img {
  width: 65px;
  position: absolute;
  left: calc(50% - 32.5px);
}


header h1 {
  margin: 0;
  position: relative;
  text-shadow: 1px 1px 5px black;
}


header p {
  font-size: 10px;
  position: relative;
  top: 3px;
  margin: 0;
  text-shadow: 1px 1px 5px black;
}


.banner{
  position: relative;
  width: 100%;
}


.banner img{
  width: 100%;
}


.banner h1{
  position: absolute;
  bottom: .3em;
  text-align: center;
  width: 100%;
  color: white;
  font-style: italic;
  text-shadow: 1px 1px 5px black;
}


nav li {
  background-color: #222;
  display: inline;
  width: 50%;
  float: left;
  padding: .5em;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}


nav ol {
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  overflow: hidden;
}


a {
  text-decoration: none;
  color: white;
}


main p{
  margin: 1em .5em;
}


.dragon img {
  width: 40%;
  float: left;
  margin-left: 6.5%;
}


.dragon {
  background-color: #e4c22a;
  padding: .5em;
  text-align: center;
}


.dragon p {
  clear: left;
  font-style: italic;
  font-size: 11px;
}


.rooster img {
  width: 40%;
  float: left;
  margin-left: 6.5%;
}


.rooster {
  background-color: #bc0017;
  padding: .5em;
  text-align: center;
  color: white;
}


.rooster p {
  clear: left;
  font-style: italic;
  font-size: 11px;
}


.goat img {
  width: 40%;
  float: left;
  margin-left: 6.5%;
}


.goat {
  background-color: #222222;
  padding: .5em;
  text-align: center;
  color: white;
}


.goat p {
  clear: left;
  font-style: italic;
  font-size: 11px;
}


.ox img {
  width: 40%;
  float: left;
  margin-left: 6.5%;
}


.ox {
  background-color: #e4c22a;
  padding: .5em;
  text-align: center;
}


.ox p {
  clear: left;
  font-style: italic;
  font-size: 11px;
}


footer {
  background-color: #222222;
  text-align: center;
  text-decoration: underline;
  padding: 1.75em;
  font-size: .7em;
}
